version: 2
updates:
  - package-ecosystem: "pip"
    cooldown:
      default-days: 10 # Fallback cooldown if no specific rule applies
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "maintenance"
      - "dependencies"
    groups:
      dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "github-actions"
    cooldown:
      default-days: 10 # Fallback cooldown if no specific rule applies
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "maintenance"
    groups:
      actions:
        patterns:
          - "*"